.not-found {
  background: wheat;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(39, 36, 36);
  font-size: 40px;
}

.not-found > p {
  color: rgb(39, 36, 36);
  text-align: center;
  font-size: large;
  margin-bottom: 10px;
}
.not-found > h3 {
  text-align: center;
  font-size: medium;
}
.not-found-btn {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  /* display:inline-block; */
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  margin-bottom: 20px;
  margin-left: 45%;
}
.not-found-btn:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

.not-found-btn:active {
  position: relative;
  top: 1px;
}
